
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

html{
    scroll-snap-type: y mandatory;
}

section{
    scroll-margin-top: 100px;
    height: 97vh;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}




header{
    background-color:rgb(22 22 22);
    position:sticky;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-weight: 100;
    font-family: 'Great Vibes', cursive;
    color:#0dbb50;

    font-size:2.5rem;
    user-select: none;
    
    

}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    
}

.navigation a::after{
   content: " ";
   position: absolute;
   left:0px;
   bottom:-5px;
    width: 100%;
   height: 3px; 
   background-color:#0dbb50;
   border-radius: 5px;
   transform-origin: right;
   transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
    
}
.navigation .btnLogin-popup{
    width: 130px;
    height:50px;
    background: transparent;
   border: 2px solid #0dbb50 ;
    outline:none;
    border-radius: 6px;
    cursor:pointer;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navigation .btnLogin-popup:hover{
    background-color: #0dbb50;
    color: #162938; 
}

#home{
    position: relative;
    display: grid;
    grid-template-columns:repeat(auto-fill , minmax(500px,1fr));
    min-height: 100vh;
    background-color: rgb(22 22 22);
    

}

.slogan{
    padding-top: 100px;
    padding-left: 100px;
    color: #fff;
    font-size: 3rem;
    width: 70%;
    
    
}

.food-img{
    padding-top: 50px;
    width: 75%;
    
}


#home .bookBtn{
    
    width: 130px;
    height:50px;
    background:rgb(22 22 22);
    border: 2px solid #0dbb50;
    outline:none;
    border-radius: 6px;
    cursor:pointer;
    font-size: 1.1rem;
    color:#fff;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 100px;
   
    

    transition: .5s;
}
#home .bookBtn:hover{
    background-color: #0dbb50;
    color: black; 
}




/* about US section */

#aboutUs{
    background-color: rgb(22 22 22);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px,1fr));
    

}


.aboutUs-image img{
    margin: 100px 0px ;
    width: 100%;
}
.aboutUs-content{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 40px;
    color: #fff;
    font-size: 1.3rem;
}
.head1{
    font-size: 3rem;
    
}



/* -------------------------------contact US section -------------------------------*/
#contactUs{
    background-color: rgb(22, 22, 22);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px,2fr));
    

}

.head2{
    margin-left: 50px;
   
    padding-left: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    color: white;
}

.new_section{
    font-family: 'Poppins', sans-serif;
    margin-top: 70px;
}
.new_section h3{
    font-size: 25px;
    word-spacing: 2px;
}
.new_section p{
    font-size: 20px;
    word-spacing: 2px;
    font-weight: 200;
}
footer{
    display: flex;
    margin-top: 50px;
    padding-top: 60px;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: white;
}
.social_links{
    background: rgb(39, 38, 38);
    height: 8vh;
    display: flex;
    justify-content: center;
    
   
}
.a1, .a2, .a3{
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    text-align: center;
    margin: 10px;
    line-height: 50px;

}
.a1 i,.a2 i, .a3 i{
    transition: all 0.3s linear;
}
.a1:hover i{
    transform: scale(1.4);
}
.a2:hover i{
    transform: scale(1.4);
}
.a3:hover i{
    transform: scale(1.4);
}


.footer_bottom{
    color: white;
    
    
   
    
}
.footer_bottom p{
    font-size: 18px;
    word-spacing: 2px;
    margin: 18px;
}
.footer3{
    display: flex;
    justify-content: left;
    height: 13vh;
}
.fa-copyright{
    color: white;
}
.chef{
    height: 370px;
    position: absolute;
    top: 1540px;
}
