@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body{
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-snap-type: y mandatory;
}


section{
    padding-top: 50px;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    min-height: 100vh;

}


header{
    background-color:transparent;
    position:sticky;
    top:0;
    left: 0;
    
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
nav a{
    color: white;
    font-size: 19px;
    text-transform: uppercase;
    margin: 0 8px;
    text-decoration: none;
}
table, th, td{
    margin-top: 80px;
    width: 800px;
    margin: auto;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    border: 2px solid white;
}
.logo{
    font-weight: 100;
    font-family: 'Great Vibes', cursive;
    color:#0dbb50;

    font-size:2.5rem;
    user-select: none;
}
#menu h1{
    margin-left: 30px;
    font-size: 3rem;
}
.image_food1{
    width: 90%;
    height: 90%;
    border-radius: 30px;
    margin-top: 5px;
    margin-left: 3px;
}
.head2{
    font-size: 50px;
}
th{
    font-size: 25px;
}

#menuUpdate {
    margin-left: 30px;
}
#menuUpdate h1{
    font-size: 3rem;

}
#menuUpdate label,input{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#menuUpdate button{
    font-size: 1.2rem;
    background-color: transparent;
    color: white;
    border: 2px solid #0dbb50;
    width: 140px;
    height: 45px;
    border-radius: 10px;
}
#menuUpdate button:hover{
    background: #0dbb50;
    
}